:root {
  --background-color: black;
  --primary-padding: 4rem;
  --primary-marging: 4rem;
  --primary-margin-inline: 21rem;
  --primary-marging-block: 8rem;
  --h2heading-setting: 4rem;
  --h2heading-font-size: 7rem;
  --primary-font-size: 3rem;

  --color-first: rgb(255, 198, 0);
  --color-second: rgb(233, 0, 255);
  --color-third: rgb(88, 0, 255);
  --title-font: "Playfair Display SC", serif;
  --paragraph-font: "Questrial", sans-serif;
  --quote-font: "Quicksand", sans-serif;
  --primary-color: linear-gradient(
    45deg,
    rgb(255, 198, 0),
    rgb(233, 0, 255),
    rgba(89, 0, 255, 0.893)
  );
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  letter-spacing: 5px;
  font-size: var(--primary-font-size);
  background-color: var(--background-color);
  color: white;
  line-height: 145%;
  overflow-x: hidden;
}
section {
  margin-inline: var(--primary-margin-inline);
  margin-block: var(--primary-marging-block);
  padding-block: var(--primary-padding);
}
.header-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  padding: var(--primary-padding);
  gap: 2rem;
}
h1 {
  font-size: 8rem;
}

h2 {
  padding-block: var(--h2heading-setting);
  font-size: var(--h2heading-font-size);
  font-family: var(--title-font);
}

h3 {
  font-family: var(--title-font);
  color: var(--color-first);
  font-size: 4rem;
  margin-block: 4rem;
}
p {
  font-size: 3rem;
  justify-content: center;
  margin-inline: 5rem;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message::before,
.message::after {
  align-self: center;
  font-family: var(--paragraph-font);
  content: ' " ';
  color: var(--color-second);
  mix-blend-mode: difference;
  display: block;
  font-size: 10rem;
}

/* ------------navigation--------------- */
header {
  position: relative;
  width: auto;
}
header > * {
  width: auto;
}

.header-options {
  background-color: var(--color-third);
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
  padding-block: 2rem;
}

.header-nav ul {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  gap: 1rem;
  text-transform: uppercase;
  padding: 0;
}

.header-nav ul > * {
  font-size: 2rem;
  color: rgb(255, 198, 0);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  width: auto;
  padding: 1rem;
  border-radius: 5px;
  transition: ease-in-out 300ms;
  border-image-source: var(--color-first);
  z-index: 3;
}
.header-nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 198, 0);
}
.header-nav ul li > *:hover {
  color: black;
}

.header-nav ul > *:hover {
  transform: skewY(5deg);
  background: var(--primary-color);
  box-shadow: 1rem -1rem var(--color-first);
}
.header-link-linkdeln:hover,
.header-link-youtube:hover {
  color: var(--color-first);
}

.mobile-nav-toggle {
  display: none;
}

/* -----------mediaquery------------------------ */

/* ------------end--------------------------- */

/* ------------banner style ----------------------- */

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
  isolation: isolate;
  padding-block: 8rem;
  padding-inline: var(--primary-margin-inline);
  align-items: center;
}

.title::before {
  z-index: -1;
  position: absolute;
  transform: skewY(-2deg);
  inset: 0;
  content: "";
  display: block;
  width: 100%;
  background: var(--primary-color);
}

.banner {
  height: auto;
  margin-inline: var(--primary-margin-inline);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
  width: auto;
}
.banner > * {
  justify-content: center;
}

.banner-heading {
  font-family: var(--title-font);
  color: var(--color-first);
  margin: 0;
}
.banner-text-content p {
  font-family: var(--paragraph-font);
}

/* .banner-photo-container {
} */
.banner-photo {
  clip-path: ellipse(44% 49% at 46% 50%);
  width: 50rem;
  animation: animation 3s ease-in-out infinite alternate;
}

@keyframes animation {
  0% {
    clip-path: ellipse(37% 48% at 50% 48%);
  }
  50% {
    clip-path: ellipse(28% 40% at 50% 50%);
  }
  100% {
    clip-path: ellipse(42% 33% at 50% 50%);
  }
}

#blob1,
#blob2 {
  fill: var(--color-first);
  position: absolute;
}

#blob2 {
  opacity: 0;
}

.banner-heading,
.heading-text {
  animation: slide-up 4s ease-in-out;
  animation-fill-mode: both;
  /* transform: translateY(150px); */
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-200px);
  }
  90% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .about-me {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 6rem;
} */
.my-photo {
  max-width: 100%;
  transition: all 500ms ease;
}
.my-photo:hover {
  max-width: 100%;
  transform: rotate(-2deg) translateX(-2px);
  box-shadow: -3rem 3rem var(--color-first);
  backface-visibility: hidden;
}

.artwork {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30rem;
  column-gap: 5rem;
  /* justify-content: center; */
  /* justify-items: center; */
  align-items: center;
}

.card {
  margin: var(--primary-marging);
  height: auto;
  width: fit-content;
  background-color: var(--color-first);
  display: flex;
  /* border-radius: 10px; */
  justify-content: center;
  transition: all 500ms ease;
}
.card:hover {
  box-shadow: -3rem 3rem var(--color-third);
  transform: rotate(-2deg);
  backface-visibility: hidden;
}

.card-title {
  font-size: larger;
  text-align: center;
  font-weight: bolder;
  white-space: nowrap;
}
.card-text {
  padding: 2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

/* .btn,
.btn:hover,
.btn:active,
.btn:visited {
  background-color: var(--color-second);
  padding: 1rem;
  font-size: 2rem;
  border: none;
} */

footer {
  position: relative;
  background-color: var(--color-third);
  padding-inline: var(--primary-margin-inline);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--primary-padding);
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var();
}
.skills {
  display: flex;
  flex-direction: column;
}
.skills-detail-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 8rem;
  margin-block: var(--primary-marging-block);
}
.skills-detail-images > * {
  height: auto;
  width: 100%;
  align-self: center;
  overflow: hidden;
  /* max-height: fit-content;
  max-width: fit-content; */
}

@media (max-width: 900px) {
  .header-nav ul,
  .header-link,
  .header-options {
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-third);
  }
  .header-options {
    padding: min(30vh, 9rem) 2rem;
    inset: 0 0 0 30%;
    z-index: 1000;
    position: fixed;
    transform: translateX(100%);
    transition: all 500ms ease-out;
  }
  .header-options[data-visibility="true"] {
    transform: translateX(0%);
  }

  .header-logo {
    order: 5;
  }
  .header-link {
    order: 4;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    aspect-ratio: 1;
    background: url(../svg/bars-solid.svg);
    background-repeat: no-repeat;
    border: none;
    z-index: 99999;
    width: 5rem;
    top: 3rem;
    right: 4rem;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  :root {
    --primary-padding: 4rem;
    --primary-marging: 4rem;
    --primary-margin-inline: 5rem;
    --primary-marging-block: 8rem;
    --h2heading-setting: 4rem;
    --h2heading-font-size: 7rem;
    --primary-font-size: 5rem;
  }

  html {
    font-size: 35%;
  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }

  p {
    letter-spacing: 1px;
    line-height: 4rem;
    margin: 0;
  }
  svg {
    height: 80px;
  }

  /* ----------------------- */
  .banner {
    grid-template-columns: 1fr;
    gap: 1rem;
    height: max-content;
    margin-inline: rem;
  }
  .banner-text-content {
    padding-block-end: 15rem;
  }

  .banner-photo-container {
    order: -1;
    padding-block-start: 15rem;
  }

  .artwork {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
