/* ------------------------- */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 94%);
  font-family: "Nunito Sans", sans-serif;
  max-width: 100%;
  overflow-x: inherit;
  width: 100%;
}

.logo {
  width: 1rem;
}

h1,
h2,
h3,
p {
  color: hsl(0, 0%, 0%) 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: hsl(0, 0%, 0%) 0;
}

h2 {
  font-size: 2.3rem;
  padding: 2rem;
  text-align: center;
  font-weight: 800;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

h5 {
  font-size: 1.8rem;
  color: hsl(0, 88%, 64%);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 2rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

i {
  font-size: 4.5rem;
  color: hsl(0, 0%, 94%);
}

footer {
  background-color: hsl(225, 28%, 33%);
}

.btn {
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.2rem;
}

.toggle {
  aspect-ratio: 1/1;
  width: 4rem;
}

.artwork {
  padding-bottom: 2rem;
}

.artwork__tab--1 {
  background-color: hsl(0, 88%, 64%);
}

.artwork__tab--2 {
  background-color: hsl(49, 94%, 63%);
}

.artwork__tab--3 {
  background-color: hsl(80, 61%, 50%);
}

.artwork {
  background-color: hsl(225, 28%, 33%);
  color: hsl(0, 0%, 94%);
}

.fa-github {
  cursor: pointer;
}
.fa-github:hover {
  color: hsl(0, 0%, 0%) 0;
}

.artwork-tab-container {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.artwork__content--active {
  display: grid !important;
}

.artwork__content {
  display: none;
}

.artwork__content--detail {
  display: grid;
  row-gap: 1rem;
}
.artwork__content--detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artwork__content--detail i {
  font-size: 3.5rem;
}
.artwork__content--detail p {
  padding-inline: 2rem;
}

.artwork-tool {
  display: flex;
  justify-content: space-evenly;
}

header {
  background: hsl(225, 28%, 33%);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
header .logo {
  width: 15rem;
  object-fit: cover;
}

.toggle {
  z-index: 999;
  cursor: pointer;
  transition: all 400ms ease-out;
}

.toggle[data-toggle=true] {
  transform: rotate(0);
}

.toggle[data-toggle=false] {
  transform: rotate(-90deg);
}

nav {
  transition: all 400ms ease-in-out;
  overflow-x: hidden;
  z-index: 100;
  padding-block: clamp(7rem, 15rem, 50vh);
  position: absolute;
  background: hsl(225, 28%, 33%);
  inset: 0 0 0 30%;
}
nav ul {
  padding: 0;
  list-style-type: none;
  background-color: hsl(225, 28%, 33%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
nav ul li a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  color: hsl(0, 0%, 94%);
  font-size: 2.5rem;
  display: block;
  text-decoration: none;
  text-align: left;
  padding-inline: 5px;
  text-transform: uppercase;
  transition: all 400ms ease-in-out;
}
nav ul li a:hover {
  background-color: hsl(0, 0%, 94%);
  color: hsl(0, 88%, 64%);
}

nav[data-expend=true] {
  display: none;
  transform: translateX(100%);
}

nav[data-expend=false] {
  display: block;
  transform: translateX(0);
}

h1 {
  background-color: hsl(0, 0%, 94%);
  position: relative;
  isolation: isolate;
  text-transform: uppercase;
}
h1::after {
  content: "";
  display: inline;
  inset: 0;
  width: 100%;
  position: absolute;
  background-color: hsl(0, 88%, 64%);
}
h1 span {
  background-color: hsl(0, 0%, 94%);
  position: relative;
  isolation: isolate;
  text-transform: uppercase;
  color: hsl(0, 88%, 64%);
}
h1 span::after {
  content: "";
  display: inline;
  inset: 0;
  width: 100%;
  position: absolute;
  background-color: hsl(0, 88%, 64%);
}

.banner {
  padding-top: 2rem;
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.banner .banner-text-content {
  justify-content: space-between;
  align-self: center;
  grid-row: 1/span 2;
  grid-column: 1/span 1;
}
.banner h1::after {
  z-index: -2;
  left: 50%;
}
.banner span::after {
  background-color: hsl(0, 0%, 94%);
  z-index: -1;
}
.banner button {
  margin-block-end: 1rem;
  padding: 0.5rem;
  color: hsl(0, 0%, 94%);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2px;
  background: hsl(225, 28%, 33%);
  transition: all 100ms ease-in-out;
  box-shadow: 1px 1px 5px black;
}
.banner button:hover {
  box-shadow: 1px 2px 3px black;
}
.banner button:active {
  box-shadow: 1px 1px 2px black;
}
.banner img {
  background-color: rgba(249, 217, 72, 0.678);
  align-self: self-end;
  object-fit: cover;
  height: 90%;
  width: 100%;
  grid-row: 1/span 2;
  grid-column: 2/span 1;
  z-index: 3;
}

main > *:not(:nth-child(1)) {
  padding-inline: 1rem;
}

main > *:not(:nth-last-child(1)) {
  margin-block: 1.5rem;
}

.skills-slide {
  padding-block: 2rem;
  background-color: hsl(225, 28%, 33%);
  align-items: center;
}

.carousel-inner {
  display: flex;
  align-self: center;
}
.carousel-inner .carousel-item {
  align-self: center;
  text-align: center;
}
.carousel-inner .carousel-item > * {
  margin-inline: 1.5rem;
}

.about-me-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  gap: 1rem;
  hyphens: auto;
}
.about-me-wrapper p {
  padding: 2rem;
  border-radius: 10px;
  margin: 0;
}
.about-me-wrapper img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.about-me-wrapper .my-photo-1 {
  order: 3;
}

.about-me-1 {
  background-color: hsl(0, 88%, 64%);
  align-self: end;
}

.about-me-2 {
  background-color: hsl(49, 94%, 63%);
  order: 4;
  align-self: start;
}

footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: white;
}
footer .logo {
  width: 15rem;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
  span {
    font-size: 3rem;
    padding-block: 0.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 2rem;
  }
  main > *:not(:nth-child(1)),
  .banner,
  .header {
    padding-inline: 5rem;
  }
  .banner {
    height: 50vh;
  }
  header {
    padding: 1rem;
  }
  .toggle {
    display: none;
  }
  nav {
    position: relative;
    inset: 0 0 0 0;
    padding-block: 0.5rem;
  }
  nav ul {
    flex-direction: row;
    margin: 0;
  }
  nav ul li a {
    font-size: 2rem;
  }
  nav .logo {
    width: 5rem;
  }
  nav[data-expend=true] {
    display: block;
    transform: translateX(0);
  }
  .banner img {
    margin-left: 7rem;
    width: 50%;
  }
  .banner-text-content {
    padding-block: 3rem;
    background-color: hsl(49, 94%, 63%);
    background-color: hsl(0, 0%, 94%);
    position: relative;
    isolation: isolate;
    text-transform: uppercase;
  }
  .banner-text-content::after {
    content: "";
    display: inline;
    inset: 0;
    width: 100%;
    position: absolute;
    background-color: hsl(0, 88%, 64%);
  }
  .banner-text-content::after {
    z-index: -5;
    left: 40%;
  }
  .banner-heading {
    background-color: hsl(80, 61%, 50%);
  }
  .banner-heading::after {
    left: 20%;
    background-color: hsl(80, 61%, 50%);
  }
  .carousel-item i {
    margin-inline: 5rem !important;
  }
  .about-me-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .about-me-2 {
    order: 1;
  }
  .artwork__content--active {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .btn {
    font-size: 1.8rem;
    padding-inline: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
