$large-text: 2.5rem;
$middle-text: 2.3rem;
$small-text: 1.8rem;
$text: 1.6rem;

/* ------------------------- */
$color-first: hsl(0, 0%, 0%) 00;
$color-second: hsl(0, 88%, 64%);
$color-third: hsl(0, 0%, 94%);
$color-fourth: hsl(225, 28%, 33%);
$color-fifth: hsl(49, 94%, 63%);
$color-sixth: hsl(80, 61%, 50%);

// ---------------------------
$primary-font: "Nunito Sans", sans-serif;

// ------------------------
$object-space: 2rem;
