// $background-color: #f0f0f0;
// $primary-padding: 3rem;
// $primary-marging: 3rem;
// $primary-margin-inline: 21rem;
// $primary-marging-block: 8rem;
// $h2heading-setting: 4rem;
// $h2heading-font-size: 7rem;
// $primary-font-size: 3rem;
/* ------------------------- */
$color-first: black;
$color-second: #f45050;
$color-third: #f0f0f0;
$color-fourth: #3c486b;
$color-fifth: #f9d949;

// ---------------------------
$primary-font: "Nunito Sans", sans-serif;
