* {
  padding: 0;
  margin: 0;
  border: 1px solid yellowgreen;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 10rem;
}

body {
  background-color: $color-third;
  font-family: "Nunito Sans", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.logo {
  width: 1rem;
}

h1,
h2,
h3,
p {
  color: $color-first;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: $color-first;
}
h2 {
  font-size: 2.3rem;
  font-weight: 800;
}
h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

h5 {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 1rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
}

i {
  font-size: 4.5rem;
  color: $color-third;
}

footer {
  background-color: $color-fourth;
}

.btn {
  border-radius: 10px;
  font-weight: 700;
}

.artwork__tab--1 {
  background-color: $color-second;
}
.artwork__tab--2 {
  background-color: $color-fifth;
}
.artwork__tab--3 {
  background-color: $color-sixth;
}

.artwork {
  background-color: $color-fourth;
  color: $color-third;
}
.fa-github {
  cursor: pointer;
  &:hover {
    color: $color-first;
  }
}

.artwork-tab-container {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.artwork__content--active {
  display: grid !important;

  // grid-template-rows: 1fr 1fr;
  // row-gap: 1rem;
}
.artwork__content {
  display: none;
}
.artwork__content--detail {
  display: grid;
  row-gap: 1rem;
  img {
    width: 100%;
    object-fit: cover;
  }
  i {
    font-size: 3.5rem;
  }
  p {
    padding-inline: 2rem;
  }
}
.artwork-tool {
  display: flex;
  justify-content: space-evenly;
}
// .artwork__content {
//   display: none;
// }
// body {
//   overflow-x: hidden;
// }
