* {
  padding: 0;
  margin: 0;
  // overflow-x: hidden;
  // border: 1px solid yellowgreen;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// img {
//   width: 10rem;
// }

body {
  background-color: $color-third;
  font-family: "Nunito Sans", sans-serif;
  max-width: 100%;
  overflow-x: inherit;
  // position: fixed;
  width: 100%;
}

.logo {
  width: 1rem;
}

h1,
h2,
h3,
p {
  color: $color-first;
}

h1 {
  font-size: $large-text;
  font-weight: 900;
  color: $color-first;
}
h2 {
  font-size: $middle-text;
  padding: $object-space;
  text-align: center;
  font-weight: 800;
}
h3 {
  font-size: $small-text;
  font-weight: 500;
}

h5 {
  font-size: $small-text;
  color: $color-second;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: $object-space;
}

p {
  font-size: $text;
  font-weight: 400;
  line-height: 2rem;
}

i {
  font-size: 4.5rem;
  color: $color-third;
}

footer {
  background-color: $color-fourth;
}

.btn {
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  // border-radius: 100rem;
}

.button-aboutme {
  margin-bottom: 1rem;
  text-decoration: none;
  display: inline-block;
  padding-inline: 1rem;
  padding-block: 1rem;
  box-shadow: 2px 2px 2px black;
  background-color: $color-fourth;
  color: $color-third;
  transition: all 100ms ease-out;
}

.button-aboutme:hover {
  box-shadow: 3px 3px 5px black;
}
.button-aboutme:focus {
  box-shadow: 2px 2px 1px black;
}

.toggle {
  aspect-ratio: 1/1;
  width: 4rem;
}
.artwork {
  padding-bottom: $object-space;
}

.artwork__tab--1 {
  background-color: $color-second;
}
.artwork__tab--2 {
  background-color: $color-fifth;
}
.artwork__tab--3 {
  background-color: $color-sixth;
}

.artwork {
  background-color: $color-fourth;
  color: $color-third;
}
.fa-github {
  cursor: pointer;
  &:hover {
    color: $color-first;
  }
}

.artwork-tab-container {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.artwork__content--active {
  display: grid !important;

  // grid-template-rows: 1fr 1fr;
  // row-gap: 1rem;
}

.artwork__content {
  display: none;
}
.artwork__content--detail {
  display: grid;
  row-gap: 1rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  i {
    font-size: 3.5rem;
  }
  p {
    padding-inline: 2rem;
  }
}
.artwork-tool {
  display: flex;
  justify-content: space-evenly;
}
